<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Todo</title>
    <link rel="stylesheet" href="/static/main.css">
</head>
<body class="py-24 px-48">
    <h1 class="font-bold font-sans mb-8 text-4xl">Todo Items</h1>
    <div id="items" class="mb-8">
        <ul>
        {{range .}}
            {{ template "item" . }}
        {{end}}
        </ul>
    </div>
    <form hx-post="/add-item" hx-target="#items ul" hx-swap="beforeend">
        <input name="name" class="border border-2 border-slate-600 rounded-md p-2" />
        <button type="submit" class="bg-slate-300 border border-2 border-slate-600 ml-1 p-2 rounded-md">Add</button>
    </form>
    <script src="/static/htmx.min.js"></script>
</body>
</html>
