<li class="todo-item">
    <input type="checkbox" name="completed" 
        {{if .Completed}} checked {{end}}
        hx-post="/complete-item?id={{.Id}}" hx-trigger="change"
        hx-target="closest .todo-item" />
    <span class="ml-1 {{if .Completed}}line-through{{end}}">
        {{.Name}}
    </span>
</li>